.input-search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  font-family: Inter, sans-serif;
  font-style: italic;
  font-size: 15px;

  .input-search-span {
    font-size: 12px;
    color: #999;
    font-family: Inter, sans-serif;
    margin: 10px;
    text-align: end;

    &::after {
      content: "";
      align-items: center;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      margin-left: 5px;
      transform: rotate(225deg);
    }
  }

  .input-search-box {
    position: relative;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 5px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 60%;
      margin: 3px auto;
      width: 15px;
      height: 15px;
    }
  }

  .input-search {
    height: 1.2rem;
    background: #efefef;
    width: 90%;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #999;
  }

  &::after {
    content: " ";
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid #999;
  }
}
