@import "src/styles/variables";

.inputLabel-wrapper {
  font-family: Inter, sans-serif;
  font-size: 15px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: end;

  .label-input-section {
    display: flex;
    justify-content: center;
    width: 100%;

    input {
      width: 50%;
      box-sizing: border-box;
      border: none;
      background-color: transparent;
      height: 2rem;
      outline: none;
      text-align: right;
      border-bottom: 0.0625rem solid #77b8f9;
    }

    label {
      width: 50%;
      display: flex;
      border-bottom: 0.0625rem solid #77b8f9;
    }
  }

  span {
    height: 10px;
    color: $danger;
    background: transparent;
    text-align: right;
  }
}
