.message-item {
    position: relative;
    font-family: Roboto, sans-serif;
    padding: 3px;
    font-size: 12px;
    line-height: 18px;
    background: #f7f7f8;
    border-radius: 8px;
    width: fit-content;
    max-width: 50%;

    img {
        max-width: 300px;
        max-height: 300px;
        border-radius: 8px;
    }

    .span-img-time, .span-message-time {
        padding: 5px;
        color: #999;
        font-size: 9px;
        line-height: 9px;
        cursor: pointer;
    }

    .span-img-time {
        color: #fff;
        font-size: 9px;
        position: absolute;
        margin: 0 5px 15px;
        bottom: 0;
        right: 5px;
        background: rgb(82 82 82 / 50%);
        border-radius: 10px;
    }
}

.sent-msg {
    background: #e4edfd;
    margin-left: auto;

    .message-time, .img-time {
        color: #3369f3;
    }
}

